# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SQL_projects\exam_airplane_problem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
